

.main{
    width: 100%;
    background-image: url('../img/back1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.left{
    float: left;
    height: 100%;
    width: 8%;
    border: 1px solid white;
    position: relative;
   
}
#blackBtn{
    position: absolute;
    left: 5%;
    top: 50%;
}


.right{
    float: right;
    height: 100%;
    width: 6%;
    border: 1px solid white;
    display: inline-block;
}

.black-ston{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    background-image: url('../img/stone1.jpg');
    background-size: 100% 100%;
   
}


.white-ston{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    background-image: url('../img/stone2.jpg');
    background-size: 100% 100%;
}

.content{
    width: 86%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 42px;
}
.left-side{
    width: 49%;
    display: inline-block;
    border: 1px solid white;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-side{
    width: 50%;
    display: inline-block;
    border: 1px solid white;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.right-side .top-content{
    padding-left: 15px;
}
.right-side .bottom-content{
    padding-left: 15px;
}
.top-content{
    width: 100%;
    height: 50%;
    display: block;
    border: 1px solid white;
   
}
.bottom-content{
    display: block;
    border: 1px solid red;
    width: 100%;
    height: 50%;
    position: relative;
   
}


 .top-content .top{
    width: 88.5px;
    height: 100%;
    border: 1px solid white;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.bottom-content .bottom{
    width: 88.5px;
    height: 100%!important;
    border: 1px solid white;
    display: inline-block;
    padding: 0 20px;
  
   
}


.bottom .black-ston { 
   
    display: flex;
    justify-content: flex-end;
}

.bottom .white-ston { 
    display: flex;
    justify-content: flex-end;
}



.left-wrap {
	perspective: 800px;
    perspective-origin: 50% 100px;
    position: absolute;
    top: 210px;
    left: 44%;
}
.right-wrap{
    perspective: 800px;
    perspective-origin: 50% 100px;
    position: absolute;
    top: 210px;
    right: 44%;
}


.cube1 {
	position: relative;
	width: 30px;
    transform-style: preserve-3d;
    margin: 30px auto;
   
}
.cube2 {
	position: relative;
	width: 30px;
    transform-style: preserve-3d;
    margin: 30px auto;
   
}


.cube1 div {
	position: absolute;
	width: 30px;
	height: 30px;
}
.cube2 div {
	position: absolute;
	width: 30px;
	height: 30px;
}


.backSide {
    transform: translateZ(-15px) rotateY(180deg);
    background: white;
  
}
.rightSide {
	transform: rotateY(-270deg) translateX(15px);
    transform-origin: top right;
    background: white;
   
}
.leftSide {
	transform: rotateY(270deg) translateX(-15px);
    transform-origin: center left;
    background: white;
}
.topSide {
	transform: rotateX(-90deg) translateY(-15px);
    transform-origin: top center;
    background: white;
}
.bottomSide {
	transform: rotateX(90deg) translateY(15px);
    transform-origin: bottom center;
    background: white;
    background-image: url('../img/two.png')
}
.frontSide {
    transform: translateZ(15px);
    background: white;
}

.frontSide img{
    width: 100%;
    position: relative;
    top: -25px;
}

.backSide img{
    width: 100%;
    position: relative;
    top: -25px;
}
.topSide img{
    width: 100%;
    position: relative;
    top: -25px;
}

.bottomSide img{
    width: 100%;
    position: relative;
    top: -25px;
}

.leftSide img{
    width: 100%;
    position: relative;
    top: -24px;
}

.rightSide img{
    width: 100%;
    position: relative;
    top: -25px;
}





 .four{
    width: 5px;
    height: 5px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 2px;
    background: white;
    display: table;
  
  
} 




 @keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}


/* @keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
} */

.cube1 {
    animation: spin 2s infinite linear;
    
     /* animation:  spin-vertical 2s infinite linear; */
}  
.cube2 {
    animation: spin 1s infinite linear;
    
     /* animation:  spin-vertical 2s infinite linear; */
}  

